<div class ="container">
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-2" *ngFor="let sensor of sensors; let s_index = index">
        <div class="card" [ngClass]="{'bg-info': sensor.status, 'bg-danger': sensor.status === false}">
          <div class="card-header card">
              <h5>{{sensor.id}}</h5>
          </div>
          <div class="card-body card">
            <p>{{sensor.name}}</p>
            <button class="btn btn-warning" (click)="onDeleteSensor(s_index)">удалить</button>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card">
    <div class="card card-header">
      <h5>Добавьте датчик</h5>
    </div>
    <div class="card card-body">
    <input type="text" #name value="Имя датчика">
    <label><input type="checkbox" checked #status> Статус</label>
    <button class="btn-danger" (click)="addSensor(name, status)">Добавить датчик</button>
    </div>
    </div>
 </div>
</div>
